<ion-header>
  <ion-toolbar>
    <ion-title>scanner</ion-title>
    <ion-buttons>
      <ion-back-button color="light" slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button expand="full" (click)="leerQR()" [hidden]="scanActive"> <ion-icon name="scan" slot="start"></ion-icon> Leer QR</ion-button>
  <p class="ion-text-center" *ngIf="result && !scanActive">{{ result }}</p>

  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="detener()">Stop</ion-button>
    </ion-col>
  </ion-row>

  <ion-button (click)="tomarFoto()" id="botonEscaner" color="as">Escanear QR</ion-button>
  
</ion-content>
