.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

#botonEscaner{
    display: flex;
    width: 40%;
    height: 10%;
    margin: 5% auto;
    margin-bottom: 20px;
    background-color: #012C56;
    border-radius: 10px;
}

#titulo > h2{
    display: flex;
    justify-content: center;
    margin: 0% auto;
    font-weight: bold;
}

.contenido{
    font-size: 20px;
}

#asignatura  {
    display: flex;
    justify-content: space-between;
    padding-top: 20px
}


