<ion-header>
  <ion-toolbar>
    <img style="width: 50px;" src="assets/logo.png" alt="" slot="end">
    <ion-buttons>
      <ion-back-button color="light" slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="titulo">
    <h2>Bienvenido: {{usuario}}</h2>
  </div>
  <img src="{{imagen}}" alt="">
  
  <ion-button expand="full" (click)="pageEscaner()" [hidden]="scanActive"> <ion-icon name="scan" slot="start"></ion-icon> Leer QR</ion-button>
  <!-- <p class="ion-text-center" *ngIf="result && !scanActive">{{ result }}</p>

  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="detener()">Stop</ion-button>
    </ion-col>
  </ion-row>

  <ion-button (click)="tomarFoto()" id="botonEscaner" color="as">Escanear QR</ion-button> -->
   
  <ion-item *ngFor="let r of asistencias">
    <ion-label>{{r.asignatura}}</ion-label>
    <ion-label slot="end">{{r.fecha}}</ion-label>
  </ion-item>

 <ion-button (click)="listar()">Actualizar</ion-button>
  <div class="contenido">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" id="asistencia">
      <mat-expansion-panel-header id="expansion">
        <mat-panel-title>
          Historial asistencias
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-item *ngFor="let r of asistencias">
        <ion-label>{{r.asignatura}}</ion-label>
        <ion-label slot="end">{{r.fecha}}</ion-label>
      </ion-item>
    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" id="justificativo">
      
      
      <mat-expansion-panel-header id="expansion">
        <mat-panel-title>
          Justificativo
        </mat-panel-title>
      </mat-expansion-panel-header>
        <input id="archivo" type="file"/>

    </mat-expansion-panel>
   

  </div>
  
</ion-content>

<ion-footer style="background-color:rgb(218, 218, 218);">
  <div style="width: 200px; margin-left: 15%;">
    <img  src="assets/Logo_DuocUC.svg.png" alt="">
  </div>
</ion-footer>