@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

ion-content{
    --background:#012C56;
    display: flex;
    
}

.container{
    
    img{
        height: 150px;
        margin-top: 70%;
    }
}

h1{
    font-size: 25px;
    font-family: 'Righteous', cursive;
    color: white;  
    opacity: 0;
}

p{
    font-size: 10px;   
    color: white; 
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
}