<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating" >usuario</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button expand="full">Limpiar</ion-button>
  <ion-button expand="full">Ingresar</ion-button>



</ion-content>
